*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	outline: none;
}
body{
	background-image: url(/assets/backgroundPizza.jpg);
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-size:cover;
}
#main{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: fit-content;
	background-color:#f7b733 ;
	padding: 1rem 1.5rem 1rem 1.5rem;
	justify-content: center;
	margin: auto;
	margin-top: 2.5rem;
	border-radius: 15px;
	border-style: solid;
	border-width: 0.5rem;
	border-color: #fc4a1a;
	box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
	transform: translate(26rem,-1.5rem);
	
}
.picture{
	height: 18rem;
	border-bottom: 3px inset #000000;
	border-radius: 10px 10px 10px 10px;
	transform: scale(1.2);
	margin-bottom: 1rem;
}

.card{
	margin: 2rem 2rem 0.5rem 2rem;
	text-align: center;
	color: white;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8);
}
#error{
	margin: 2rem;
	text-align: center;
	font-family: pizza-font ;
	font-size: 2rem;
	font-weight: bolder;
	color: #fc1a1a;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}
input{
	width: 3rem;
	border-style: none;
	padding: 0.5rem;
	text-align: center;
	font-family: pizza-font ;
	font-size: 1rem;
	font-weight: bolder;
}
button{
	width: 6rem;
	border-style: none;
	background-color: #fc1a1a;
	padding: 0.5rem;
	font-family: pizza-font ;
	font-size: 1rem;
	font-weight: bolder;
}
button:hover{
	animation-name: buttonIncrease;
	animation-timing-function: 2s;
	animation-iteration-count: 1;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}
.name{
	text-decoration: underline;
}
.price{
	font-size: 3rem;
	font-weight: bolder;
	padding: 1rem 1rem 0.5rem 1rem;
}
.cardContainer{
	font-family: pizza-font ;
	font-size: 2rem;
}
.pizzasList p{
	transform: translateY(2rem);
}
.pizzasList p{
	padding: 0.2rem;	
}
.pizzasList span{
	text-decoration: underline 0.1rem;
}
.pizzasList{
	width: auto;
	height: 20rem;
	margin-top: 0.5rem;
	padding: 1rem;
	font-size: 1.3rem;
	font-weight: bolder;
	color: white;
	background-image: url(/assets/pizarra.png);
	background-size: 25rem;
	background-position: center;
	background-repeat: no-repeat;
}
.span{
	font-weight: lighter;
}
@font-face {
	font-family: pizza-font, Courier, monospace;
	src: url('/assets/font/Calvino-Extrabold-trial.ttf');

}
@keyframes buttonIncrease {
	from {transform: scale(1.0);}
	to {transform: scale(1.1);}
  }